<div class="alert alert-info">
    <div class="row">
        <div class="span1">
            Title:
        </div>
        <div class="span6">
            <%=link.title%>
        </div>
    </div>
    <div class="row">
        <div class="span1">
            Href:
        </div>
        <div class="span6">
            <%=link.href%>
        </div>
    </div>
    <div class="row">
        <div class="span1">
            Description:
        </div>
        <div class="span6">
            <%=link.description%>
        </div>
    </div>
</div>