<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	                             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	                             http://www.springframework.org/schema/security
	                             http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

    <security:http auto-config="true" create-session="never" use-expressions="true">
        <intercept-url method="POST" pattern="/api/users" access="permitAll()" />
        <intercept-url pattern="/api/*" access="hasRole('ROLE_USER')" /> <!-- TODO: Determine how to controll this via controller annotations -->
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="loginService" />
    </security:authentication-manager>

    <beans:bean id="loginService" class="linkboard.spring.security.LoginHandler" />
</beans:beans>